
.tabs {
  width: 100%;
}
.tabs > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tabs > div > span {
  display: none !important;
  background-color: #f86338 !important;
}
@media (max-width:500px) {
    
}