@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}
.app{
  background-color: #E5E5E5;
}
.home-container {
  padding: 0rem !important;
  max-width: 1374px !important;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.nav-top {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.search-bar {
  box-shadow: none !important;
  background: none !important;
}
.nav-search-input {
  border: none;
  outline: none;
  width: 90%;
  background: none;
}